{% extends "rawBase.html" %}
{% load Sportstags %}
<!-- index.html -->

{% block scriptBlock %}
    $(document).ready(
                     function() {
                         $("select#sport_name").change(function() {
                             if ($(this).val() == 'Z') {
                                 $("select#sport_area").html("<option>Select a Area</option>");
                                 $("select#sport_area").attr('disabled', true);
                             }
                             else {
                                 var url ="/sport/" + $(this).val() + "/all_json_areas/";
				 var sportId = $(this).val();
                                 $.getJSON(url, function(areas) {
				     var options = '<option value="Z">Select a area</option>';
				     var areas_array = [];
                                     for (var i = 0; i < areas.length; i++) {
					if (areas_array.indexOf(areas[i].fields['club_area']) == -1 ) {
						areas_array.push(areas[i].fields['club_area']); 
                                                options += '<option value="' + areas[i].fields['club_area'] + '">' + areas[i].fields['club_area'] + '</option>';
					}
                                     }
                                     $("select#sport_area").html(options);
                                     $("select#sport_area option:first").attr('selected', 'selected');
                                     $("select#sport_area").attr('disabled', false);
                                 });
                             }
                         });


                         $("select#sport_area").change(function(vent) {
                             if ($(this).val() == -1) {
                                 return;
                             }
				alert("Hello");
                         });
                     });

{% endblock %}

{% block contentBlock %}
<div class="home_content_area"> 
<div class="home_Search_container">
	<div class="home_search_box_container left"> 
	   <fieldset>
		<form action="/search/" method="get">
		<div class="home_search_label">
			<h3>Book your ticket here</h3>
		</div>
		<div class="home_sport_name">
				<select name="sport_name" id="sport_name">
					<option value="Z">Select a Sport</option>
					{% for sport in sport_list %}
						<option value="{{ sport.pk }}">{{ sport.fields.sport_name }}</option>
					{% endfor %}
				</select>
		</div>
		<div class="home_sport_area">
				<select name="sport_area" id="sport_area" disabled="true">
					<option>Select a Area</option>
	                        </select>
		</div>
		<div class="home_sport_date">
				<input id="date" name="sport_date" value="{{ todaysDate }}" class="datepicker filter_date hasDatepicker" type="text"></input>
		</div>
                <ol>
                    <li><input type="submit" value="Search" />
                </ol>
    		</form>
            </fieldset>
	</div>
</div>
		<!-- BEGIN .content-wrapper -->
		<div class="content-wrapper clearfix">
			
			<!-- BEGIN .clearfix -->
			<div class="clearfix">
				
				<!-- BEGIN .one-third -->
				<div class="one-third clearfix">
					<h3 class="title-style1">Soho Hotel<span class="title-block"></span></h3>
					<img src="images/demo_image_01.jpg" alt="" class="image-style1 respond-img" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc.</p>
					<p><a href="#" class="button1">Read More</a></p>
				<!-- END .one-third -->	
				</div>
				
				<!-- BEGIN .one-third -->
				<div class="one-third clearfix">
					<h3 class="title-style1">Hotel Overview<span class="title-block"></span></h3>
					<ul class="list-style1">
						<li>99 luxury guest rooms</li>
						<li>Michelin star restaurant</li>
						<li>Rooftop cocktail bar</li>
						<li>Infinity pool</li>
						<li>24 hour front desk staff</li>
						<li>Free airport pick up/drop off service</li>
					</ul>
					<p><a href="#" class="button1">Read More</a></p>
				<!-- END .one-third -->	
				</div>
				
				<!-- BEGIN .one-third -->
				<div class="one-third last-col clearfix">
					<h3 class="title-style1">Location<span class="title-block"></span></h3>
					
					<div id="google-map" style="height: 175px;"></div>

					<script type="text/javascript">

						var latlng = new google.maps.LatLng(51.523728,-0.079336);
						var myOptions = {
							zoom: 14,
							center: latlng,
							scrollwheel: true,
							scaleControl: false,
							disableDefaultUI: false,
							mapTypeId: google.maps.MapTypeId.ROADMAP
						};

						mapContent = new google.maps.Map(document.getElementById("google-map"),myOptions);
						var contentStringContent = '<div class="gmap-content"><h2>Soho Hotel</h2><p>1 Main Road, London, UK</p></div>';
						var infowindowContent = new google.maps.InfoWindow({
							content: contentStringContent
						});

						var markerContent = new google.maps.Marker({
							position: latlng, 
							map: mapContent
						});

						google.maps.event.addListener(markerContent, 'click', function() {
							infowindowContent.open(mapContent,markerContent);
						});
	
					</script>

					<p><a href="#" class="button1">Directions</a></p>
					
				<!-- END .one-third -->	
				</div>
				
			<!-- END .clearfix -->
			</div>
<hr class="space1" />

			<h3 class="title-style1">Testimonials<span class="title-block"></span></h3>

			<div class="text-slider-wrapper">

				<!-- BEGIN .slider -->
				<div class="text-slider">
					<ul class="slides">

						<li>
							
							<!-- BEGIN .clearfix -->
							<div class="clearfix">		
				
								<!-- BEGIN .one-half -->
								<div class="one-half testimonial-one-half">
					
									<div class="testimonial-wrapper clearfix">
										<div class="testimonial-image">
											<img src="images/user.png" alt="" />
										</div>
										<p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat neque vitae quam consectetur mattis"</p>
										<div class="testimonial-speech"></div>
									</div>
									<p class="testimonial-author"><span>John Smith -</span> Double Ensuite Room</p>
					
								<!-- END .one-half -->	
								</div>
				
								<!-- BEGIN .one-half -->
								<div class="one-half last-col testimonial-one-half">
					
									<div class="testimonial-wrapper clearfix">
										<div class="testimonial-image">
											<img src="images/user.png" alt="" />
										</div>
										<p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat neque vitae quam consectetur mattis"</p>
										<div class="testimonial-speech"></div>
									</div>
									<p class="testimonial-author"><span>Jack Daniels -</span> Double Ensuite Room</p>
					
								<!-- END .one-half -->	
								</div>

							<!-- END .clearfix -->
							</div>
			
						</li>
						
						<li>
							
							<!-- BEGIN .clearfix -->
							<div class="clearfix">		
				
								<!-- BEGIN .one-half -->
								<div class="one-half testimonial-one-half">
					
									<div class="testimonial-wrapper clearfix">
										<div class="testimonial-image">
											<img src="images/user.png" alt="" />
										</div>
										<p class="testimonial-text">"Nulla pellentesque orci enim. Etiam a urna condimentum, euismod mauris luctus, accumsan turpis. Vestibulum pharetra"</p>
										<div class="testimonial-speech"></div>
									</div>
									<p class="testimonial-author"><span>Johnnie Walker -</span> Double Ensuite Room</p>
					
								<!-- END .one-half -->	
								</div>
				
								<!-- BEGIN .one-half -->
								<div class="one-half last-col testimonial-one-half">
					
									<div class="testimonial-wrapper clearfix">
										<div class="testimonial-image">
											<img src="images/user.png" alt="" />
										</div>
										<p class="testimonial-text">"Nulla pellentesque orci enim. Etiam a urna condimentum, euismod mauris luctus, accumsan turpis. Vestibulum pharetra"</p>
										<div class="testimonial-speech"></div>
									</div>
									<p class="testimonial-author"><span>John Smith -</span> Double Ensuite Room</p>
					
								<!-- END .one-half -->	
								</div>

							<!-- END .clearfix -->
							</div>
			
						</li>
			
					</ul>
					
				<!-- END .text-slider -->
				</div>
				
			<!-- END .text-slider -->
			</div>
		<!-- END .content-wrapper -->
		</div>
</div>

{% endblock %}
