<div class="page_navigation_bar">
        <div class="page_navigation_bar_left">Page 1 of 3</div>
        <div class="page_navigation_bar_right">
                        <div class="next"><a class="rem_hyperlink" tiltle="go to next page" href="">NEXT</a></div>
                        <div class="dot3"><a class="rem_hyperlink" tiltle="show next 5 pages" href="">. . .</a></div>
                        <div class="active"><a class="rem_hyperlink" tiltle="go to page 5" href="">5</a></div>
                        <div class="active"><a class="rem_hyperlink" tiltle="go to page 4" href="">4</a></div>
                        <div class="active"><a class="rem_hyperlink" tiltle="go to page 3" href="">3</a></div>
                        <div class="active"><a class="rem_hyperlink" tiltle="go to page 2" href="">2</a></div>
                        <div class="current">1</div>
                        <div class="prev"><a class="rem_hyperlink" tiltle="go to previous page" href="">PREV</a></div>
        </div>
</div>

