{% extends "rawBase.html" %}

{% block titleBlock %} Spot my Arena :: Search Results {% endblock %}
{% block contentBlock %}
<div class="advertisement"> </div>
<div class="search_heading"></div>
<div class="search_filter_container"> </div>
<div class="search_results_area">
	<li class="search_results_container">
		<div class="searched_data_left">
		<h3 class="left f18 bold"><a href="http://www.spotmyarena.com/gurukul" class="remove_underline" title="Gurukul, ORR">GURUKUL</a></h3>
		</div>
		<div class="searched_data_right"></div>
	</li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
	<li class="search_results_container"></li>
<div class="page_navigation_bar"> </div>
</div>
{% endblock %}
