{% extends "rawBase.html" %}

{% block titleBlock %} Spot my Arena :: Search Results {% endblock %}
{% block scriptBlock %} 
$( document ).ready(function() {
    $('.selecting_slot_area').hide();
	$( ".search_choose_slots" ).click(function() {
		id = $(this).attr('toggle');
		$('.selecting_slot_area').not('#' + id).hide("slow");
		$('#' + id).toggle("slow");
		var selected_club_id = $(this).attr('clubId');
		var url = "/availability/" + selected_club_id + "/get_json_availability/";
		$.getJSON(url, function(availability) {

		});
	});

});
{% endblock %}
{% block contentBlock %}
<div class="advertisement"> <img src="{{ STATIC_URL }}images/demo_image_01.jpg"></div>
<div class="search_heading">Search result for badmition for 27th Feb 2014</div>
<div class="search_filter_container"> 
	<div class="search_filter_top">
		<div class="search_filter_top_tab">
			<div class="search_filter_top_tab_label">
			Filters
			</div>
		</div>
                <div class="search_filter_top_tab">
                        <div class="search_filter_top_tab_label">
			Sport
                        </div>
                </div>
                <div class="search_filter_top_tab">
                        <div class="search_filter_top_tab_label">
			Locality
                        </div>
                </div>
                <div class="search_filter_top_tab">
                        <div class="search_filter_top_tab_label">
			Date
                        </div>
                </div>
                <div class="search_filter_top_tab">
                        <div class="search_filter_top_tab_label">
                        </div>
                </div>
	</div>
	<div class="search_filter_bottom">
                <div class="search_filter_bottom_tab">
                </div>
                <div class="search_filter_bottom_tab">
                </div>
                <div class="search_filter_bottom_tab">
                </div>
                <div class="search_filter_bottom_tab">
			<input type="text" id="datefrom" name="book_date_from" value="" class="datepicker filter_date">
                </div>
                <div class="search_filter_bottom_tab">
                </div>
	</div>
</div>
<div class="search_results_area">
    {% for club in club_list %}
	<li class="search_results_container">
		<div class="search_data_left">
			<h3 class="left f18 bold"><a href="http://www.spotmyarena.com/gurukul" class="remove_underline hover_gold_color" title="Gurukul, ORR">{{ club.fields.club_name}}</a></h3><BR /><BR />
			<div class="left search_address f12">{{ club.fields.club_address}} {{ club.fields.club_area }} {{ club.fields.club_city }} {{ club.fields.club_pincode }} </div>
			<BR />
			<div class="left search_sports_available f14">Sports: </div>
			<BR />
			<div class="left search_sport_cost f14">Cost: </div>
			<BR />
			<div class="left search_sport_hours f14">Hours: </div>
		</div>
		<div class="search_data_right">
			<div class="search_rating right">3.6</div>
			<BR />
			<BR />
			<div class="search_no_of_votes right">based on 22 votes</div>
			<BR />
			<BR />
			<div class="search_choose_slots button1 right" toggle="{{forloop.counter}}" clubId="{{club.pk}}">Choose Slots</div>
		</div>
	</li>
	<div class="selecting_slot_area" id="{{forloop.counter}}">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
		<img src="{{ STATIC_URL }}images/red_ball.png">
	</div>
    {% endfor %}
</div>
{% endblock %}
