{% extends "rawBase.html" %}

{% block titleBlock %} Spot my Arena :: Search Results {% endblock %}
{% block contentBlock %}
<section>
       <li class="resZS search-result bb  status1" data-res_id="51705">
    <article class="">
        <div>
            <div class="grid_8 pos-relative column alpha">
                <div class="search-name">
                                        <h3 class="top-res-box-name ln24 left">
                        <a  href="http://www.zomato.com/bangalore/toit-indiranagar" title="Toit Restaurant, Indiranagar" >Toit</a>
                                            </h3>

                    

                    <div class="clear"></div>
                    <div class="ln24" style="line-height: 26px;">
                        <a href="http://www.zomato.com/bangalore/indiranagar-restaurants" title="Restaurants in Indiranagar">
                            Indiranagar
                        </a>
                                                    <span class="search-result-address" title="298, 100 Feet Road, Namma Metro Pillar 62, Indiranagar, Bangalore">&rsaquo; 298, 100 Feet Road, Namma Metro Pillar 62,...</span>
                                            </div>
                                            <div class="res-snippet-small-cuisine" style="color: #4d4d4d;" title="Italian, American, Pizza">Italian, American, Pizza</div>
                                        <div class="ln24">
                        				<span class="upc grey-text sml">Cost for 2: </span>Rs. 1800
                        &nbsp;/&nbsp;
                                                <span class="ln24" title="11:30 AM to 11 PM">
                            <span class="grey-text">Hours: </span> 11:30 AM to 11 PM
                        </span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_4 column omega ta-right">
                <div class="search-result-stars ln24 clearfix">
                    <div class="right">
                                                    <div class="rating-rank left">
                                <div class="rating-text-div-51705 ttupper">Very Good</div>
				                                                    <span class="rating-votes-div-51705 grey-text">1906 user votes</span>
				                                            </div>
                            <div data-res-id="51705" class="rating-for-51705 rating-div left res-snippet-small-rating level-7">
                                3.9
                            </div>
                                            </div>
                </div>
                <div class="clear"></div>
                                    <div class="right search-details-reviews" style="">
                        <a href="http://www.zomato.com/bangalore/toit-indiranagar/reviews" class="search-result-reviews right" title="User reviews for Toit">
                            530 Reviews
                        </a>
                        <span data-icon="r" class="right search-result-review-icon"></span>
                    </div>
                    <div class="clear"></div>
                                <div class="search-details-icons right">
                    <div class="search-result-icons right ln24">
                        <a href ="/bangalore/toit-indiranagar/menu"><div data-icon="M" class="small_res_icons small_icon_menu tooltip" title="Menu Available"></div></a><div data-icon="I" class="small_res_icons small_icon_ccard tooltip" title="Credit Cards Accepted"></div><div data-icon="b" class="small_res_icons small_icon_bar tooltip" title="Bar Available"></div><div data-icon="D" class="small_res_icons small_icon_dinein tooltip" title="Dine In"></div><div data-icon="V" class="small_res_icons icon_grey small_icon_no_veg tooltip" title="Serves Non Veg"></div><div data-icon="d" class="small_res_icons icon_grey small_icon_no_delivery tooltip" title="No Home Delivery"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear ieclear"></div>
        </div>

        
        
                    
            
		
        
                <div class="clear"></div>
    </article>
</li>
<li class="resZS search-result bb  status1" data-res_id="53165">
    <article class="">
        <div>
            <div class="grid_8 pos-relative column alpha">
                <div class="search-name">
                                        <h3 class="top-res-box-name ln24 left">
                        <a  href="http://www.zomato.com/bangalore/chutney-chang-mg-road" title="Chutney Chang Restaurant, MG Road" >Chutney Chang</a>
                                            </h3>

                    

                    <div class="clear"></div>
                    <div class="ln24" style="line-height: 26px;">
                        <a href="http://www.zomato.com/bangalore/mg-road-restaurants" title="Restaurants in MG Road">
                            MG Road
                        </a>
                                                    <span class="search-result-address" title="HM Eleganza, 31, Museum Road, MG Road Area, Bangalore">&rsaquo; HM Eleganza, 31, Museum Road, MG Road...</span>
                                            </div>
                                            <div class="res-snippet-small-cuisine" style="color: #4d4d4d;" title="North Indian, Chinese">North Indian, Chinese</div>
                                        <div class="ln24">
                        				<span class="upc grey-text sml">Cost for 2: </span>Rs. 1000
                        &nbsp;/&nbsp;
                                                <span class="ln24" title="12 Noon to 3:30 PM, 7 PM to 11 PM">
                            <span class="grey-text">Hours: </span> 12 Noon to 3:30 PM, 7 PM to 11 PM
                        </span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_4 column omega ta-right">
                <div class="search-result-stars ln24 clearfix">
                    <div class="right">
                                                    <div class="rating-rank left">
                                <div class="rating-text-div-53165 ttupper">Very Good</div>
				                                                    <span class="rating-votes-div-53165 grey-text">2107 user votes</span>
				                                            </div>
                            <div data-res-id="53165" class="rating-for-53165 rating-div left res-snippet-small-rating level-7">
                                3.6
                            </div>
                                            </div>
                </div>
                <div class="clear"></div>
                                    <div class="right search-details-reviews" style="">
                        <a href="http://www.zomato.com/bangalore/chutney-chang-mg-road/reviews" class="search-result-reviews right" title="User reviews for Chutney Chang">
                            541 Reviews
                        </a>
                        <span data-icon="r" class="right search-result-review-icon"></span>
                    </div>
                    <div class="clear"></div>
                                <div class="search-details-icons right">
                    <div class="search-result-icons right ln24">
                        <a href ="/bangalore/chutney-chang-mg-road/menu"><div data-icon="M" class="small_res_icons small_icon_menu tooltip" title="Menu Available"></div></a><div data-icon="I" class="small_res_icons small_icon_ccard tooltip" title="Credit Cards Accepted"></div><div data-icon="D" class="small_res_icons small_icon_dinein tooltip" title="Dine In"></div><div data-icon="V" class="small_res_icons icon_grey small_icon_no_veg tooltip" title="Serves Non Veg"></div><div data-icon="b" class="small_res_icons icon_grey small_icon_no_bar tooltip" title="Bar Not Available"></div><div data-icon="d" class="small_res_icons icon_grey small_icon_no_delivery tooltip" title="No Home Delivery"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear ieclear"></div>
        </div>

        
        
                    
            
		
        
                <div class="clear"></div>
    </article>
</li>
</section>
{% endblock %}
